@tailwind base;
@tailwind components;
@tailwind utilities;
.backgroundphoto {
  background-image: url('./assets/images/olympus-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 2200px;
}

@font-face {
  font-family: 'Georgian-1';
  src: url('./assets/fonts/bpg_glaho.ttf');
}

.font-geo {
  font-family: 'Georgian-1';
}
