@tailwind base;
@tailwind components;
@tailwind utilities;
.backgroundphoto {
  background-image: url('./assets/images/olympus-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100%;
}
